<form action="/api/productos" method="post">
    <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Producto</label>
  <input type="producto" class="form-control" id="exampleFormControlInput1">
    </div>
    <div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Detalles</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>